h1 {
  text-align: center;
}

#form_box {
  border:1px solid black;
  width: 500px;
  margin: auto;
}


#profile_box {
  border:1px solid black;
  width: 500px;
  margin: auto;
}

.warning {
  color:red;
}

.hidden {
  display: none;
}

li {
  list-style-type: none;
}

input, label, button {
  display: block;
  margin: 10px;
}
